.container_header {
  position: fixed;
  right: 0;
  left: 0;
  top: 0;
  height: 122px;
  background-color: #f8f9fc;
  z-index: 50;
}
.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 60px;
  height: 122px;
}
.header__container-logo {
  display: flex;
  align-items: center;
}
.header_logo {
  height: 50px;
  width: 135px;
  margin-left: 10px;
  margin-right: 116px;
}

.container_menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.container_login {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu,
.header__p-number {
  font-family: "Montserrat";
  font-weight: 600;
  color: black;
  font-style: normal;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.menu {
  font-size: 20px;
  margin-right: 47px;
}

.menu:last-child {
  margin-right: 0;
}

.menu:first-child {
  margin-right: 59px;
}

.header__p-number {
  font-size: 16px;
  text-decoration: none;
  margin-left: 16px;
}

.header_container-search {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header_container-number {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.header__container-input-img {
  display: flex;
  align-items: center;
  height: 100%;
}

.header__container-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #a1a1a1;
  box-sizing: border-box;
  border-radius: 20px;
  height: 50px;
  width: 180px;
  margin-left: 41px;
}

.header__input {
  width: 100%;
  border-radius: 20px;
  outline: none;
  border: none;
  color: #a1a1a1;
  background-color: #f8f9fc;
}

.header__img,
.header__img-focus,
.header__img-call {
  width: 50px;
  height: 50px;
}

.header__img-focus {
  margin-left: 40px;
}

.header__img {
  margin-left: 105px;
}

.header__img-search {
  height: 20.65px;
  width: 20.65px;
  margin-left: 21px;
}

.header__img-focus:hover {
  cursor: pointer;
}

.header__input::-webkit-input-placeholder {
  padding-left: 24px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.header__square-red {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e31e24;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.header__line {
  border-bottom: 2px solid rgba(0, 0, 0, 0.05);
  margin: 0 60px;
}

@media screen and (max-width: 1250px) {
  .menu {
    font-size: 11px;
  }
  .header__p-number {
    font-size: 11px;
  }
}
