.menu-info__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 10px rgba(0, 0, 0, 0.15);
  width: 6%;
  height: 130px;
  padding: 16px 0 22px;
}

.menu-info__img {
  width: 100%;
  height: 170px;
}

.menu-info__label {
  font-style: normal;
  font-weight: 400;
  font-size: 10px;
  /* padding: 0 6%; */
  margin-top: 14px;
}
