.main-page__container-information,
.main-page__container-products {
  margin: 0 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}
.main-page__container-products {
  justify-content: space-between;
}

.main-page__container-information {
  margin: 30px 60px 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.main-page__container-input-img {
  display: flex;
  align-items: center;
  height: 48px;
  width: 780px;
  min-width: 300px;
}

.main-page__container-input {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 2px solid #a1a1a1;
  box-sizing: border-box;
  border-radius: 20px;
  height: 48px;
  width: 780px;
}

.main-page__input {
  width: 100%;
  border-radius: 20px;
  color: #a1a1a1;
  background: #f8f9fc;
  outline: none;
  border: none;
}

.main-page__input::-webkit-input-placeholder {
  padding-left: 14px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.main-page__container-input-img {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.main-page__img {
  border-radius: 20px;
  height: 30px;
  width: 21px;
  margin-left: 24px;
}
.main-page__container-delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 200px;
}
.main-page__container-promocode,
.main-page__container-coins,
.main-page__button-coins,
.main-page__container-products {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
}

.main-page__container-promocode {
  width: 8%;
  min-width: 100px;
}
.main-page__img-promocode {
  margin-right: 8%;
}
.main-page__container-coins {
  min-width: 250px;
  justify-content: space-between;
}

.main-page__p-promocode {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
}

.main-page__container-products {
  margin-top: 55px;
}

.main-page__location-modal {
  display: flex;
  flex-direction: row;
  margin-top: 50px;
}

.main-page__location-description {
  margin-left: 40px;
}

.main-page__modal-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  margin-top: 16px;
}

.main-page__modal-text-bold {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  margin-top: 8px;
}

.main-page__modal-img {
  height: 120px;
}

@media screen and (max-width: 1680px) {
  .main-page__container-input-img {
    max-width: 600px;
  }
  .main-page__button-coins {
    max-width: 170px;
  }
  .menu-info__container {
    max-width: 90px;
  }
  .main-page__subdirectory-item {
    max-width: 220px;
  }
  .footer__container-contact-text {
    max-width: 300px;
  }
}

@media screen and (max-width: 1300px) {
  .main-page__container-products {
    flex-wrap: nowrap;
    overflow-x: auto;
  }
  .menu-info__container {
    margin-right: 8px;
  }
  .main-page__img-subdirectory-item {
    display: none !important ;
  }
}

@media screen and (max-width: 850px) {
.main-page__container-information, .main-page__container-products {
  margin: 20px 20px 0;
}
.main-page__container-products{
  margin-top: 40px;
}  
}
