.main-page_p-delivery {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.main-page_text-delivery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.main-page__img-delivery {
  display: flex;
  align-items: center;
  margin-right: 13px;
}

.main-page__container-delivery-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 26px;
}

.main-page__img-coins {
  margin-right: 13px;
}

@media screen and (max-width: 850px) {
  .main-page_text-delivery {
    display: none;
  }
 
}
