.main-page__container-subdirectory {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 56px 60px 0;
}

.main-page__container-subdirectory-section {
  width: 80%;
}

.main-page__container-cart {
  width: 20%;
  margin-left: 24px;
}

.main-page__cart-sticky {
  position: sticky;
  top: 120px;
}

.main-page__container-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 21px;
}
.main-page__subdirectory-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.main-page__container-subdirectory-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-page__item-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.main-page__img-subdirectory-item {
  background: #ffffff;
  box-sizing: border-box;
  border-radius: 16.3628px;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f8f9fc;
  height: 340px;
  margin-bottom: 12px;
}

.main-page__p-subdirectory-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.main-page__div-subdirectory {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-page__img-subdirectory-filters {
  height: 20px;
  margin-right: 10px;
}

.subdirectory__cart-text {
  height: 28px;
  display: flex;
  align-items: center;
}

.subdirectory__p-cart-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.cart-items-container {
  background-color: #f8f9fc;
  border-radius: 10px;
  box-shadow: -10px -10px 10px #ffffff, 10px 10px 10px rgba(0, 0, 0, 0.05);
  padding: 15px;
  margin-top: 21px;
}

.cart-order-button {
  height: 50px;
  width: 100%;
  background-color: #5db300;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  outline: none;
  border: none;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.cart-items__item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 5px;
  justify-content: space-between;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
}

.cart-items__item-name {
  width: 60%;
}

.cart-items__count-price,
.cart-items__item-name {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.cart-items__count-price {
  margin-bottom: 6px;
}

.cart-items__count-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  align-items: flex-end;
}

.cart-items__container-counter {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.cart-items__p-counter {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 20px;
}

.cart-items__item-weight {
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
}

.cart-order-button-img {
  margin-right: 8px;
}


@media screen and (max-width: 850px) {
  .main-page__container-subdirectory {
    flex-direction: column;
    justify-content: center;
    margin: 30px 20px 0;
  }
  .main-page__container-subdirectory-item{
    justify-content: center;
  }
  .main-page__container-cart,
  .main-page__container-subdirectory-section {
    width: 100%;
  }
  
}
