.main-page__container-subdirectory {
  display: flex;
  flex-direction: row;
  margin: 41px 3% 0;
}

.main-page__container-subdirectory-section {
  width: 78%;
}

.main-page__container-basket {
  width: 20%;
  margin-left: 24px;
}

.main-page__container-filters {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 21px;
}
.main-page__subdirectory-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.main-page__container-subdirectory-item {
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.main-page__item-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
}

.main-page__img-subdirectory {
  width: 100%;
}

.main-page__img-subdirectory-item {
  background: #ffffff;
  /* border: 1px solid rgba(0, 0, 0, 0.05); */
  box-sizing: border-box;
  border-radius: 16.3628px;
  width: 32%;
  height: 326px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* display: flex;
  flex-direction: column;
  align-items: center; */
  /* padding: 19px 1% 17px; */
}

.main-page__p-subdirectory-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.main-page__div-subdirectory {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.main-page__img-subdirectory-filters {
  height: 20px;
  margin-right: 10px;
}

.subdirectory__basket-text {
  height: 28px;
  display: flex;
  align-items: center;
}

.subdirectory__p-basket-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
}

.cart-items-container {
  background-color: white;
  border-radius: 10px;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 10px rgba(0, 0, 0, 0.15);
  padding: 10px;
}

.cart-order-button {
  height: 30px;
  width: 100%;
  background-color: rgb(5, 196, 5);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  outline: none;
  border: none
}

.cart-items__item-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 15px;
}

.cart-items__item-name {
  width: 60%;
}

.cart-items__count-container {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.cart-items__container-counter {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cart-items__button-plus {
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid white;
  color: white;
  outline: none;
  background-color: #e31e24;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.cart-items__button-minus {
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid white;
  outline: none;
  background-color: #5db300;
  color: white;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.cart-items__p-counter {
  align-self: flex-end;
}



