.main-page__subdirectory-item {
  background: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  box-sizing: border-box;
  border-radius: 16.3628px;
  width: 226px;
  min-width: 150px;
  height: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px 27px 18px;
  margin-bottom: 12px;
  
}

.main-page__item-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  text-align: center; 
}   

.menu-info__span-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  padding-right: 5px;
}

.menu-info__p-price {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 8px;
}

.menu-info__button-plus {
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid white;
  color: white;
  outline: none;
  background-color: #e31e24;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.menu-info__button-plus,
.menu-info__button-minus:hover {
  cursor: pointer;
}

.menu-info__button-minus {
  height: 20px;
  border-radius: 50%;
  border: 1.5px solid white;
  outline: none;
  background-color: #5db300;
  color: white;
  box-shadow: -3px -3px 5px #ffffff, 3px 3px 10px rgba(0, 0, 0, 0.15);
}

.menu-info__p-counter {
  margin: 0 20%;
}

.menu-info__container-counter {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
