.footer__container-flex {
  display: flex;
  flex-direction: row;
  margin: 0 60px;
}

.footer__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border-top: 2px solid rgba(0, 0, 0, 0.05);
  padding-top: 18px;
  margin-top: 11px;

  width: 79%;
}

.footer__container-first {
  width: 57%;
}

.footer__container-second {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 26px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  margin-bottom: 48px;
}
.footer-address {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  margin-top: 43px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.footer-p-address {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
}

.footer__container-contact {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.footer__container-contact-text {
  line-height: 22px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin-left: 0 20%;
}

.footer__img-logo {
  height: 60px;
}

.footer__p-contact-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
}

.footer__p-additional-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
}

.footer__p-address-text {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 26px;
}

.footer__container-logo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.footer__square-red {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #e31e24;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.footer_logo {
  height: 50px;
  width: 135px;
  margin-left: 10px;
  margin-right: 40px;
}

.footer_container-div-text {
  margin-top: 28px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
}

.footer_container-developer {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 17px;
  margin-bottom: 22px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  color: #a1a1a1;
}

.footer_developer-text {
  margin-right: 23px;
}

@media screen and (max-width: 850px) {
  .footer__container-flex{
    margin: 0 20px;
  }
  .footer__container-flex, .footer__container-contact {
    flex-direction: column;
  }
  .footer__container-contact-text {
    margin-top: 20px;
  }
  .footer__container {
    width: 100%;
    flex-direction: column;
  }
  .footer__container-first,
  .footer__container-second {
    width: 100%;
  }
  .footer__container-second {
    display: none;
  }
  .footer__container-contact{
    align-items: flex-start;
  }

}
