.carousel--wrapper {
  margin-top: 125px;
  outline: none;
  overflow: hidden;
  height: 390px;
}

.carousel--item {
  outline: none;
  width: 100%;
  height: 390px;
}

.slick-slide.slick-active {
  opacity: 1
}

.slick-slide {
  opacity: 0.4
}

@media screen and (max-width: 850px) {
  .carousel--wrapper {
    height: 110px;
    
  }
  .carousel--item {
    height: 100%;
  }
}
